return {
  'qiujiandong/markdown-preview.nvim',
  event = 'VeryLazy',
  cmd = { 'MarkdownPreviewToggle', 'MarkdownPreview', 'MarkdownPreviewStop' },
  ft = { 'markdown' },
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
  init = function()
    vim.cmd [[
    function! OpenBrowserWSL(url)
      execute 'silent !wslview ' . shellescape(a:url)
    endfunction
    ]]
    vim.g.mkdp_browserfunc = 'OpenBrowserWSL'
  end,
{{- end }}
  -- Manually install with node v24.16.0
  -- NODE_OPTIONS=--openssl-legacy-provider npx yarn install
  -- NODE_OPTIONS=--openssl-legacy-provider npx yarn build
}
