-- See https://wiki.hypr.land/Configuring/Basics/Monitors/

{{- if eq .chezmoi.kernel.osrelease "6.17.4-1-yogabook" }}
hl.monitor({
	output = "DSI-1",
	mode = "1200x1920@59.98Hz",
	position = "0x0",
	transform = 3,
	scale = "2",
})
{{- else }}
--   x -> +
-- y
-- |
-- v
-- +

-- Up
hl.monitor({
	output = "DP-2",
	mode = "2560x1440@60Hz",
	position = "0x0",
	scale = "1",
})

-- Down
hl.monitor({
	output = "HDMI-A-1",
	mode = "3840x2400@60Hz",
	position = "0x1440",
	scale = "2",
})
{{- end}}
